---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
interface Props {
  title: string;
  description: string;
  image?: string;
}
const { title, description, image } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="icon" href="/favicon.png" />
    <meta name="description" content={description} />
    {image && <meta property="og:image" content={image} />}
    <link rel="canonical" href={canonicalURL} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    {image && <meta property="og:image" content={image} />}
    <meta property="og:locale" content="es_ES" />
    <meta property="og:site_name" content="Mi Portfolio" />
    <title>{title}</title>
    <!-- Google tag (gtag.js) -->
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-Z800P9QGGT"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Z800P9QGGT');
    </script>
  </head>
  <body class="min-h-screen bg-to text-accent-50">
    <Navbar />
    <div class="pt-28">
      <slot />
    </div>
  </body>
</html>
